body {
	background-color: #F0F0F0;
    font-family:Arial,Tahoma,sans-serif;
	width: 750px;
    margin-left: auto;
    margin-right: auto;
}

#title h1 {
    background: white;
	box-shadow: 1px 1px 0 #C4C4C4;

    text-align: center;
    font-family: Arial,Tahoma,sans-serif;
    font-size: 40px;
    font-weight: normal;
    margin: 0px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#demos {
    background: white;
	box-shadow: 1px 1px 0 #C4C4C4;

    margin-left:auto;
    margin-right:auto;

    padding: 20px;
}

.vignette {
    width: 185px;
    height: 100px;

	border: 5px solid white;
	box-shadow: 1px 1px 0 #C4C4C4;
}
