div[role="main"] {
    margin-top: 20px;
}

#render_surface {
    height: 600px;
    width: 1108px;
}

#title h1 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Oswald",Arial;
    font-size: 40px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}
