body {
    margin: 0px;
    background-color: black;
}

#menu {
    background-color: #007E0F;
    margin: 0px;
    position: absolute;
    width: 100%;
}

#title h1 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Oswald",Arial;
    font-size: 40px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}

#ComboBox {
    display: block;
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: #00DD00;
}
